.boxButton {
  font-family: Exo;
  background-color: #d1180b;
  padding:5px 40px;
  outline:none;
  border:1px solid #d1180b;
  color:#fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  margin: auto;
  cursor: pointer;
  text-align:center;
}
.boxButton:disabled{
  background-color:#fff;
  border:1px solid #d1180b;
  color:#d1180b;
  cursor:no-drop;
}
